// Footer
footer {
  height: 170px;
  padding: 1rem;
  background-image: url("./images/footer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
