//import
@use "partials-style.scss" as *;

body {
  background-color: #64748b;
  color: #ffffff;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); // shadow-md
}

div {
  border: white;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 200px;
}

ul {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

div product-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 250px;
}
